.App {
  background: linear-gradient(
    90deg,
    rgb(67, 165, 165) 0%,
    rgb(88, 177, 132) 100%
  );
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin: 2.5% auto;
  height: 90vh;
  border-radius: 10px;
}
 
 

body {
  background: linear-gradient(
    90deg,
    rgb(87, 80, 129) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  overflow: hidden;
}
.image{
 
  margin-top: 15PX;
  border-radius: 50%;
}
h1{
  margin-top: 40PX;
  color: rgb(145, 134, 40);
}
h3{
  margin-top: 30px;
}

